@tailwind base;
@tailwind components;
.ansi-black-fg {
  color: #222;
}

.ansi-black-bg {
  background-color: #222;
}

.ansi-bright-black-fg {
  color: #222;
}

.ansi-bright-black-bg {
  background-color: #222;
}

.ansi-red-fg {
  color: #c0392b;
}

.ansi-red-bg {
  background-color: #c0392b;
}

.ansi-bright-red-fg {
  color: #e74c3c;
}

.ansi-bright-red-bg {
  background-color: #e74c3c;
}

.ansi-green-fg {
  color: #27af60;
}

.ansi-green-bg {
  background-color: #27af60;
}

.ansi-bright-green-fg {
  color: #2ecc71;
}

.ansi-bright-green-bg {
  background-color: #2ecc71;
}

.ansi-yellow-fg {
  color: #f39c12;
}

.ansi-yellow-bg {
  background-color: #f39c12;
}

.ansi-bright-yellow-fg {
  color: #f1c40f;
}

.ansi-bright-yellow-bg {
  background-color: #f1c40f;
}

.ansi-blue-fg {
  color: #2e8dcd;
}

.ansi-blue-bg {
  background-color: #2e8dcd;
}

.ansi-bright-blue-fg {
  color: #3498db;
}

.ansi-bright-blue-bg {
  background-color: #3498db;
}

.ansi-magenta-fg {
  color: #8e44ad;
}

.ansi-magenta-bg {
  background-color: #8e44ad;
}

.ansi-bright-magenta-fg {
  color: #9b59b6;
}

.ansi-bright-magenta-bg {
  background-color: #9b59b6;
}

.ansi-cyan-fg {
  color: #0097a4;
}

.ansi-cyan-bg {
  background-color: #0097a4;
}

.ansi-bright-cyan-fg {
  color: #02c8d9;
}

.ansi-bright-cyan-bg {
  background-color: #02c8d9;
}

.ansi-white-fg {
  color: #bdc3c7;
}

.ansi-white-bg {
  background-color: #bdc3c7;
}

.ansi-bright-white-fg {
  color: #ffffff;
}

.ansi-bright-white-bg {
  background-color: #ffffff;
}

.body {
  width: 50%;
  margin: 0 auto;
}

.mainLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.heroBody {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

input {
  text-align: left;
  padding-left: 5px;
}

::-webkit-input-placeholder {
  text-align: left;
  padding-left: 5px;
}

:-ms-input-placeholder {
  text-align: left;
  padding-left: 5px;
}

.workingItemsTitle {
  background-color: #2d3748;
  color: white;
  padding-left: 5px;
  padding-top: 2px;
}

.headSummaryStyle {
  background-color: #2d3748;
  width: 100%;
  padding: 5px;
  text-align: center;
}

.headTextFieldStyleLong {
  width: 260px;
  height: 40px;
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
}

.headTextFieldStyleLong:hover {
  border: 2px solid #93C5FD;
}

.headTextFieldStyleLong:focus {
  outline: none !important;
  border: 3px solid #93c5fd;
}

.headTextFieldStyleShort {
  width: 150px;
  height: 40px;
  display: inline-block;
  margin: 5px;
  border-radius: 5px;
}

.headTextFieldStyleShort:hover {
  border: 2px solid #93C5FD;
}

.headTextFieldStyleShort:focus {
  outline: none !important;
  border: 3px solid #93c5fd;
}

.ProjectSetupForm {
  width: 100%;
  background-color: white;
}

.buttonRight {
  float: right;
  margin-top: 20px;
}

.projectSetupTextField {
  width: 80%;
}

.subtitleLabel {
  margin-left: 10px;
}

.subtitleLabelDescription {
  margin-left: 20px;
}

.caseSensitiveCheckBox {
  background-color: #eee;
}

#workingItemNavigationTable {
  text-align: center;
  color: #2d3748;
  margin-top: 60px;
  border: 1px solid;
  border-color: white;
  -webkit-box-shadow: 0px 1px 1px 1px #afafaf;
          box-shadow: 0px 1px 1px 1px #afafaf;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.vst_table-container.align-text {
  text-align: left;
}

.vst_table-container .header-padding {
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}

.vst_table-container .table-cell {
  padding: 0.5rem 2rem;
  vertical-align: middle;
}

.vst_table-container .table-cell img {
  vertical-align: middle;
}

.vst_table-container .sticky-column {
  -webkit-box-shadow: 10px 0px 10px -12px black;
          box-shadow: 10px 0px 10px -12px black;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.btn-blue:disabled {
  @apply bg-blue-500 opacity-50 cursor-not-allowed;
}

.btn-blue:focus {
  @apply bg-blue-500 outline-none;
}

.btn-red {
  @apply bg-red-500 text-white;
}

.btn-red:hover {
  @apply bg-red-700;
}

.btn-red:disabled {
  @apply bg-red-500 opacity-50 cursor-not-allowed;
}

.btn-red:focus {
  @apply bg-red-500 outline-none;
}

.tab {
  @apply flex border-b-2;
}

.tab-element {
  @apply px-4 -m-2px border-b-2;
}

.tab-element:hover {
  @apply border-blue-300 text-blue-500;
}

.tab-element-selected {
  @apply border-b-2 border-blue-300 text-blue-500;
}

.tab-element-disabled {
  @apply px-4 -m-2px border-b-2;
}

.panel {
  @apply mb-2 border-solid border-gray-300 rounded border shadow;
}

.panel-title {
  @apply bg-gray-200 px-4 py-3 border-solid border-gray-300 border-b text-xl font-bold;
}

.success {
  @apply border-green-400;
}

.is-success {
  @apply bg-green-400 text-white;
}

.failed {
  @apply border-red-600;
}

.is-failed {
  @apply bg-red-600 text-white;
}

.running {
  @apply border-blue-500;
}

.is-running {
  @apply bg-blue-500 text-white;
}

.skipped {
  @apply border-gray-800;
}

.is-skipped {
  @apply bg-gray-800 text-white;
}

.unknown {
  @apply border-gray-400;
}

.is-unknown {
  @apply bg-gray-400 text-white;
}

.setuperror {
  @apply border-yellow-500;
}

.is-setuperror {
  @apply bg-yellow-500 text-white;
}

.spinner {
  color: transparent !important;
  pointer-events: none;
  position: relative;
}

.spinner:after {
  -webkit-animation: spinAround 500ms infinite linear;
          animation: spinAround 500ms infinite linear;
  border: 2px solid #dae1e7;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important;
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@tailwind utilities;
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  @apply text-dark;
}
/*# sourceMappingURL=tailwind.css.map */